@import "base";
body{
    background: #F2F2F2;
}
header{
    overflow: hidden;
    width: 100%;
    height: 450px;
    background: url("../images/20170804174439.png") center center no-repeat;
    .logo{
        margin: 0 auto;
        width: 1200px;
        height: 70px;
        img{
            margin: 15px 10px 0 0;
            float: left;
            width: 110px;
            height: 46px;
        }
    }
}
.center{
    position: absolute;
    top: 170px;
    left: 50%;
    margin-left: -600px;
    margin-bottom: 200px;
    width: 1200px;
    background: #fff;
    ul{
        height: 60px;
        .fillout{
            float: left;
            width: 299px;
            height: 59px;
            border-right: 1px solid #999;
            border-bottom: 1px solid #00aaee;
            background: #00aaee;
            color: #fff;
            font-size: 18px;
            text-align: center;
            line-height: 58px;
        }
        .fillout:nth-child(3){
            border-right: 1px solid #ff9700;
            border-bottom: 1px solid #ff9700;
            background: #ff9700;
        }
        .fillout:nth-child(4){
            border-right: 1px solid #E6E6E6;
            border-bottom: 1px solid #E6E6E6;
            background: #E6E6E6;
            color: #333333;
        }
    }
    .center-perfect{
        margin: 0 auto 60px auto;
        width: 578px;
        height: 1480px;
        .subject{
            margin:60px 0 40px 0;
            text-align: center;
            color: #333;
            font-size: 18px;
        }
        .perfect-row{
            overflow: hidden;
            margin-bottom: 20px;
            .sky{
                float: left;
                width: 11px;
                height: 30px;
            }
            i{
                float: left;
                margin-right: 5px;
                color: #FF000D;
                font-size: 20px;
                line-height: 36px;
            }
            
            .perfect-row-left{
                float: left;
                width: 190px;
                font-size: 14px;
                color: #333;
                line-height: 30px;
                text-align: right;
            }
            .perfect-row-radio{
                float: left;
                margin-top: 9px;
            }
            
            .perfect-row-right{
                float: left;
                font-size: 14px;
                color: #333;
                line-height: 30px;
            }
            .firm{
                margin-right: 25px;
            }
            .phone{
                float: left;
                padding: 0 10px;
                width: 220px;
                height: 28px;
                line-height: 28px;
                border: 1px solid #999;
            }
            #slider {
                float: left;
  width: 242px;
  height: 30px;
  position: relative;
  border-radius: 2px;
  background-color: #dae2d0;
  overflow: hidden;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#slider_bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #7AC23C;
  z-index: 1;
}

#label {
  width: 46px;
  position: absolute;
  left: 0;
  top: 0;
  height: 28px;
  line-height: 28px;
  border: 1px solid #cccccc;
  background: #fff;
  z-index: 3;
  cursor: move;
  color: #ff9e77;
  font-size: 16px;
  font-weight: 900;
}

#labelTip {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-family: 'Microsoft Yahei', serif;
  color: #787878;
  line-height: 28px;
  text-align: center;
  z-index: 2;
}
        }
        .enroll-code{
            display: none;
        }
        .permit-all{
            overflow: hidden;
            position: relative;
            margin-right: 20px;
            float: left;
            width: 80px;
            height: 80px;
            cursor: pointer;
            .plus{
                font-size: 40px;
                text-align: center;
                color: #999;
            }
            .plus-file{
                font-size: 14px;
                text-align: center;
                color: #999;
            }
            #addCommodityIndex{
                position: absolute;
                left: 0;
                top: 0;
                height: 80px;
                width: 80px;
            }
        }
        .attachment-all{
            overflow: hidden;
            position: relative;
            margin-top: 5px;
            float: left;
            width: 100px;
            height: 20px;
            cursor: pointer;
            border: 1px solid #999;
            .attachment-file{
                font-size: 12px;
                text-align: center;
                color: #000;
                line-height: 20px;
            }
            .attachment{
                position: absolute;
                left: 0;
                top: 0;
                width: 100px;
                height: 20px;
                opacity: 0;
            }
        }
        textarea{
            float: left;
            width: 360px;
            height: 88px;
            padding: 5px;
            resize : none;
            outline: none;
            border: 1px solid #999; 
        }
        .auth{
            float: left;
            width: 240px;
            height: 30px;
            .auth-code{
                float: left;
                width: 100px;
                height: 28px;
                padding: 0 10px;
                border: 1px solid #999;
            }
            .gain{
                float: right;
                width: 100px;
                height: 30px;
                border: 1px solid #999;
                color: #999;
                cursor: pointer;
            }
        }
        .download{
            float: left;
            margin-left: 10px;
            color: #00aaee;
            font-size: 12px;
            text-decoration: underline;
            line-height: 30px;
        }
        .auth-code-false{
            display:none;
            margin: -20px 0 15px 203px;
            color: #FF000D;
            font-size: 14px;
            .enroll-phone-red{
                float: left;
                margin: 3px;
                width: 14px;
                height: 14px;
                background: #FF000D;
                @include br4(50%);
                color: #fff;
                text-align: center;
                line-height: 14px;
                font-weight: bold;
            }
        }
        .enroll-cipher{
            display: none;
        }
        .perfect-code-hint{
            overflow: hidden;
            margin: -20px 0 15px 203px;
            width: 380px;
            color: #999;
            font-size: 12px;
            .choose{
                float: left;
                margin: 20px 0 0 0;
                width: 160px;
                height: 30px;
                background: #00aaee;
                color: #fff;
                font-size: 14px;
            }
            .enroll-phone-red{
                display: none;
                float: left;
                margin: 27px 0 0 10px;
                width: 14px;
                height: 14px;
                background: #FF000D;
                @include br4(50%);
                color: #fff;
                text-align: center;
                line-height: 14px;
                font-weight: bold;
            }
            span{
                display: none;
                margin: 24px 0 0 0;
                float: left;
                color: #FF000D;
            }
        }
        .enroll-bottom-breath{
            margin: 0 auto;
            width: 210px;
            height: 20px;
            a{
                margin-left: 22px;
                color: #333;
                font-size: 14px;
                color: #00aaee;
            }
        }
    }
}