@import "base";
.cover-all{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.my-profile {
    overflow: hidden;
    margin: 0 auto 60px auto;
    width: 1200px;
    background: #fff;
    .my-profile-top{
        margin-top: 60px;
    }
    .my-profile-right {
        float: right;
        padding: 20px;
        width: 950px;
        height: 880px;
        background: #fff;
        border-left: 10px solid #f2f2f2;
        .my-profile-right-top {
            width: 950px;
            height: 20px;
            .column {
                float: left;
                font-size: 14px;
                color: #999;
            }
            .column:nth-child(2) {
                float: right;
                margin-top: 9px;
                width: 890px;
                border-bottom: 1px solid #999;
            }
        }
        .my-profile-right-bottom {
            .menu {
                width: 950px;
                height: 30px;
                border-bottom: 1px solid #999;
                .subnav {
                    display: inline-block;
                    margin-right: 15px;
                    font-size: 12px;
                    line-height: 30px;
                    color: #666;
                    cursor: pointer;
                }
                .subnav.h {
                    font-size: 14px;
                    line-height: 28px;
                    border-bottom: 3px solid #00aaee;
                    color: #00aaee;
                }
            }
            .center-perfect {
                display: none;
                margin-top: 20px;
                float: left;
                width: 950px;
                .switchover{
            
    height: 28px;
    line-height: 28px;
    color: #999;
    font-size: 14px;
                    margin-bottom: 10px;
                    span{
                        padding: 0 10px;
                        cursor: pointer;
                    }  
                    span.h{
                        color: #00aaee;
                    }
        }
                .switchover-bottom{
                    display: none;
                }
                .perfect-row-reminder{
                    display: none;
                    margin-left: 20px;
                    margin-bottom: 20p;
            width: 950px;
                    height: 30px;
                    color: #666;
                    font-size: 16px;
        }
                .perfect-row-bottom{
                    margin-bottom: 10px;
                }
                .perfect-row,.perfect-row-bottom {
                    overflow: hidden;
                    position: relative;
                    width: 950px;
                    i {
                        float: left;
                        margin-right: 5px;
                        color: #FF000D;
                        font-size: 20px;
                        line-height: 36px;
                    }
                    .perfect-row-left,.perfect-row-left-long {
                        float: left;
                        width: 90px;
                        font-size: 14px;
                        color: #999;
                        line-height: 30px;
                        text-align: right;
                    }
                    .perfect-row-left-long{
                        width: 175px;
                    }
                    .phone-span,.land,.phones {
                        float: left;
                        width: 300px;
                        line-height: 30px;
                        color: #666;
                        font-size: 14px;
                    }
                    .phonee{
                        line-height: 20px;
                        font-size: 12px;
                        overflow: hidden;  
                        display: -webkit-box;  
                        -webkit-line-clamp: 5;  
                        -webkit-box-orient: vertical; 
                    }
                    .phones{
                        color: #FF7900;
                    }
                    .cipher,.cell-phone{
                        float: left;
                        padding: 0 10px;
                        width: 218px;
                        height: 28px;
                        line-height: 28px;
                        color: #999;
                        font-size: 14px;
                        border: 1px solid #999;
                    }
                    ::-webkit-input-placeholder { /* WebKit browsers */  
    color:#999;  
}  
                    ::-o-input-placeholder { /* WebKit browsers */  
    color:#999;  
}  
                    ::-ms-input-placeholder { /* WebKit browsers */  
    color:#999;  
}  
                    ::-moz-input-placeholder { /* WebKit browsers */  
    color:#999;  
}  
                    .auth{
            float: left;
            width: 240px;
            height: 30px;
            .auth-code,.auth-codes{
                float: left;
                width: 100px;
                height: 28px;
                padding: 0 10px;
                border: 1px solid #999;
            }
            .gain{
                float: right;
                width: 100px;
                height: 30px;
                border: 1px solid #ff9700;
                color: #999;
                cursor: pointer;
                &:hover{
                    background:#ff9700;
                    color: #fff;
                }
            }
        }
                .auth-code-false,.auth-code-true{
                    float: left;
            display:none;
            margin: 6px 0 15px 10px;
            color: #FF000D;
            .enroll-phone-red,.enroll-phone-green{
                float: left;
                margin: 3px;
                width: 14px;
                height: 14px;
                background: #FF000D;
                @include br4(50%);
                color: #fff;
                text-align: center;
                font-weight: bold;
                line-height: 15px;
            }
                    .enroll-phone-green{
                        background: green;
                    }
        }
                }
                .perfect-row:nth-child(1) {
                    height: 30px;
                }
                .perfect-code-hint {
                    overflow: hidden;
                    margin: 20px 0 15px 0px;
                    width: 950px;
                    height: 32px;
                    color: #999;
                    font-size: 12px;
                    .cover-alter-bottom {
                        overflow: hidden;
                        float: left;
                        margin-left: 20px;
                        height: 32px;
                        i {
                            margin: 0 15px;
                            font-size: 19px;
                        }
                        em {
                            display: inline-block;
                            height: 30px;
                            padding: 0 10px;
                            line-height: 30px;
                            font-style: normal;
                            cursor: pointer;
                            background: #00aaee;
                            cursor: pointer;
                            color: #fff;
                            @include br4(3px);
                            &:hover {
                                background: #009adb;
                            }
                        }
                        .keep {
                            display: inline-block;
                            height: 30px;
                            padding: 0 10px;
                            line-height: 30px;
                            font-style: normal;
                            cursor: pointer;
                            background: #00aaee;
                            cursor: pointer;
                            color: #fff;
                            @include br4(3px);
                            &:hover {
                                background: #009adb;
                            }
                        }
                        .cancel {
                            display: inline-block;
                            height: 28px;
                            padding: 0 10px;
                            line-height: 28px;
                            font-style: normal;
                            cursor: pointer;
                            cursor: pointer;
                            @include br4(3px);
                            border: 1px solid #ff9700;
                            background: #fff;
                            color: #666;
                            &:hover {
                                background: #ff9700;
                                color: #fff;
                                border: 1px solid #ff9700;
                            }
                        }
                    }
                }
            }
        }
    }
}
.cover-avatar{
    display: none;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -310px;
    margin-top: -200px;
    width: 620px;
    height: 400px;
    background: #fff;
    border: 1px solid #999;
    .cover-top {
        width: 100%;
        height: 40px;
        background: #00aaee;
        color: #fff;
        text-align: center;
        font-size: 16px;
        line-height: 40px;
        span {
            float: right;
            margin-right: 10px;
            font-size: 20px;
            cursor: pointer;
        }
    }
    .center-perfect {
        margin: 60px 100px 0 100px;
                float: left;
                width: 420px;
        
                .perfect-row {
                    position: relative;
                    width: 420px;
                    height: 30px;
                    margin-bottom: 10px;
                    .sky {
                        float: left;
                        width: 9px;
                        height: 30px;
                    }
                    i {
                        float: left;
                        margin-right: 5px;
                        color: #FF000D;
                        font-size: 20px;
                        line-height: 36px;
                    }
                    .perfect-row-left {
                        float: left;
                        width: 70px;
                        font-size: 14px;
                        color: #333;
                        line-height: 30px;
                        text-align: right;
                    }
                    .perfect-row-radio {
                        float: left;
                        margin-top: 9px;
                    }
                    .perfect-row-right {
                        margin-right: 20px;
                        float: left;
                        font-size: 14px;
                        color: #333;
                        line-height: 30px;
                    }
                    .phone {
                        float: left;
                        padding: 0 10px;
                        width: 300px;
                        height: 28px;
                        line-height: 28px;
                        border: 1px solid #999;
                        color: #666;
                    }
                }
                .perfect-row:nth-child(1) {
                    height: 30px;
                }
                .perfect-code-hint {
                    overflow: hidden;
                    margin: 30px 0 15px 0px;
                    width: 950px;
                    height: 30px;
                    color: #999;
                    font-size: 12px;
                    .cover-alter-bottom {
                        overflow: hidden;
                        float: left;
                        margin-left: 230px;
                        height: 32px;
                        padding: 0 25px;
                        text-align: left;
                        font-size: 14px;
                        color: #666;
                        i {
                            margin: 0 15px;
                            font-size: 19px;
                        }
                        em {
                            display: inline-block;
                            height: 20px;
                            padding: 0 10px;
                            line-height: 20px;
                            font-style: normal;
                            cursor: pointer;
                            border: 1px solid #00aaee;
                            background: #00aaee;
                            cursor: pointer;
                            color: #fff;
                            @include br4(2px);
                            &:hover {
                                background: #009adb;
                                border: 1px solid #009adb;
                            }
                        }
                        .alter-cancel {
                            border: 1px solid #ff9700;
                            background: #fff;
                            color: #666;
                            &:hover {
                                background: #ff9700;
                                color: #fff;
                                border: 1px solid #ff9700;
                            }
                        }
                    }
                    .enroll-phone-red {
                        display: none;
                        float: left;
                        margin: 7px 0 0 0px;
                        width: 14px;
                        height: 14px;
                        background: #FF000D;
                        @include br4(50%);
                        color: #fff;
                        text-align: center;
                        line-height: 14px;
                        font-weight: bold;
                    }
                    span {
                        display: none;
                        margin: 4px 0 0 0;
                        float: left;
                        color: #FF000D;
                    }
                }
            }
}
.cover-avatar-choose{
    display: none;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -310px;
    margin-top: -200px;
    width: 620px;
    height: 400px;
    background: #fff;
    border: 1px solid #999;
    .cover-top-choose {
        width: 100%;
        height: 40px;
        background: #00aaee;
        color: #fff;
        text-align: center;
        font-size: 16px;
        line-height: 40px;
        span {
            float: right;
            margin-right: 10px;
            font-size: 20px;
            cursor: pointer;
        }
    }
    .center-choose-all{
        width: 620px;
        height: 360px;
        overflow: auto;
      .center-choose{
        margin: 20px auto;
        width: 578px;
        .choose-row{
            height: 30px;
            margin-bottom: 10px;
            position: relative;
            i{
                float: left;
                margin-right: 5px;
                color: #FF000D;
                font-size: 20px;
                line-height: 36px;
            }
            
            .choose-row-left{
                float: left;
                width: 190px;
                font-size: 14px;
                color: #333;
                line-height: 30px;
                text-align: right;
            }
            .phone-select,.phone-check{
                float: left;
                padding: 0 10px;
                width: 220px;
                height: 28px;
                line-height: 28px;
                border: 1px solid #999;
                outline: none;
                .trigon{
                    margin-top: 12px;
                    float: right;
                    width: 0;
                    height: 0;
                    border-top: 6px solid #000;
                    border-left: 3px solid transparent;
                    border-right: 3px solid transparent;
                }
            } 
            .choose-select{
                display: none;
                position: absolute;
                left: 204px;
                top: 29px;
                z-index: 2;
                width: 240px;
                background: #fff;
                border: 1px solid #999;
                .choose-option{
                    height: 20px;
                    cursor:default;
                    font-size: 14px;
                    color: #666;
                    &:hover{
                        background: #00aaee;
                        color: #fff;
                    }
                    p{
                        float: left;
                        margin-left: 15px;
                        line-height: 20px;
                    }
                    .enroll-select{
                        float: right;
                        margin-right: 15px;
                        line-height: 20px;
                        color:transparent;
                    }
                }
                .choose-option.h{
                    background: #00aaee;
                    color: #fff;
                    .enroll-select{
                        color:#fff;
                    }
                }
            }
            .choose-checked{
                display:none; 
                position: absolute;
                left: 204px;
                top: 29px;
                z-index: 2;
                width: 370px;
                background: #fff;
                border: 1px solid #999;
                .choose-check{
                    padding: 10px;
                    overflow: hidden;
                    .enroll-select-all{
                        float: left;
                        margin-top: 4px;
                    }
                    .enroll-all{
                        float: left;
                        margin-left: 5px;
                        font-size: 14px;
                        font-weight: bold;
                    }
                    ul{
                        overflow: hidden;
                        margin: 25px 0 0 20px;
                        width: 330px;
                        li{
                            float: left;
                            margin-right: 20px;
                            .enroll-select-small{
                                float: left;
                                margin-top: 4px;
                            }
                            p{
                                float: left;
                                margin-left: 5px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
           .choose-code-hint{
            overflow: hidden;
            margin: -20px 0 5px 204px;
            width: 380px;
            color: #999;
            font-size: 12px;
            .choose{
                float: left;
                margin: 20px 0 0 0;
                width: 160px;
                height: 30px;
                background: #00aaee;
                color: #fff;
                font-size: 14px;
            }
            .enroll-phone-red{
                display: none;
                float: left;
                margin: 27px 0 0 10px;
                width: 14px;
                height: 14px;
                background: #FF000D;
                @include br4(50%);
                color: #fff;
                text-align: center;
                line-height: 14px;
                font-weight: bold;
            }
            span{
                display: none;
                margin: 24px 0 0 0;
                float: left;
                color: #FF000D;
            }
        }
                .perfect-row {
                    overflow: hidden;
                    position: relative;
                    width: 578px;
                    margin-bottom: 10px;
                    .sky {
                        float: left;
                        width: 9px;
                        height: 30px;
                    }
                    i {
                        float: left;
                        margin-right: 5px;
                        color: #FF000D;
                        font-size: 20px;
                        line-height: 36px;
                    }
                    .perfect-row-left {
                        float: left;
                        width: 190px;
                        font-size: 14px;
                        color: #333;
                        line-height: 30px;
                        text-align: right;
                    }
                    .perfect-row-radio {
                        float: left;
                        margin-top: 9px;
                    }
                    .perfect-row-right {
                        margin-right: 20px;
                        float: left;
                        font-size: 14px;
                        color: #333;
                        line-height: 30px;
                    }
                    .phone {
                        float: left;
                        padding: 0 10px;
                        width: 220px;
                        height: 28px;
                        line-height: 28px;
                        border: 1px solid #999;
                        color: #666;
                    }
                    #slider {
                float: left;
  width: 242px;
  height: 30px;
  position: relative;
  border-radius: 2px;
  background-color: #dae2d0;
  overflow: hidden;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#slider_bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #7AC23C;
  z-index: 1;
}

#label {
  width: 46px;
  position: absolute;
  left: 0;
  top: 0;
  height: 28px;
  line-height: 28px;
  border: 1px solid #cccccc;
  background: #fff;
  z-index: 3;
  cursor: move;
  color: #ff9e77;
  font-size: 16px;
  font-weight: 900;
}

#labelTip {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-family: 'Microsoft Yahei', serif;
  color: #787878;
  line-height: 28px;
  text-align: center;
  z-index: 2;
}
        }
                    textarea{
            float: left;
            width: 360px;
            height: 88px;
            padding: 5px;
            resize : none;
            outline: none;
            border: 1px solid #999; 
        }
                    .attachment-all{
            overflow: hidden;
            position: relative;
            margin-top: 5px;
            float: left;
            width: 100px;
            height: 20px;
            cursor: pointer;
            border: 1px solid #999;
            .attachment-file{
                font-size: 12px;
                text-align: center;
                color: #000;
                line-height: 20px;
            }
            .attachment{
                position: absolute;
                left: 0;
                top: 0;
                width: 100px;
                height: 20px;
                opacity: 0;
            }
        }
                    .permit-all{
            overflow: hidden;
            position: relative;
            margin-right: 20px;
            float: left;
            width: 80px;
            height: 80px;
            cursor: pointer;
            .plus{
                font-size: 40px;
                text-align: center;
                color: #999;
            }
            .plus-file{
                font-size: 14px;
                text-align: center;
                color: #999;
            }
            #addCommodityIndex{
                position: absolute;
                left: 0;
                top: 0;
                height: 80px;
                width: 80px;
            }
        }
                    .auth{
            float: left;
            width: 240px;
            height: 30px;
            .auth-code{
                float: left;
                width: 100px;
                height: 28px;
                padding: 0 10px;
                border: 1px solid #999;
            }
            .gain{
                float: right;
                width: 100px;
                height: 30px;
                border: 1px solid #999;
                color: #999;
                cursor: pointer;
            }
        }
        .download{
            float: left;
            margin-left: 10px;
            color: #00aaee;
            font-size: 12px;
            text-decoration: underline;
            line-height: 30px;
        }
        .auth-code-false{
            display:none;
            margin: -20px 0 15px 203px;
            color: #FF000D;
            font-size: 14px;
            .enroll-phone-red{
                float: left;
                margin: 3px;
                width: 14px;
                height: 14px;
                background: #FF000D;
                @include br4(50%);
                color: #fff;
                text-align: center;
                line-height: 14px;
                font-weight: bold;
            }
        }
                }
        .auth-code-false{
            display:none;
            margin: -20px 0 15px 203px;
            color: #FF000D;
            font-size: 14px;
            .enroll-phone-red{
                float: left;
                margin: 3px;
                width: 14px;
                height: 14px;
                background: #FF000D;
                @include br4(50%);
                color: #fff;
                text-align: center;
                line-height: 14px;
                font-weight: bold;
            }
        }
        .enroll-cipher{
            display: none;
        }
                .perfect-code-hint{
            overflow: hidden;
            margin: -10px 0 15px 203px;
            width: 380px;
            color: #999;
            font-size: 12px;
             .cover-alter-bottom {
                        overflow: hidden;
                        float: left;
                        margin-top: 20px;
                        height: 32px;
                        i {
                            margin: 0 15px;
                            font-size: 19px;
                        }
                        .choose {
                            display: inline-block;
                            height: 30px;
                            width: 75px;
                            text-align: center;
                            line-height: 30px;
                            font-style: normal;
                            cursor: pointer;
                            background: #00aaee;
                            cursor: pointer;
                            color: #fff;
                            @include br4(3px);
                            &:hover {
                                background: #009adb;
                            }
                        }
                
                        .alter-cancel-choose {
                            display: inline-block;
                            height: 28px;
                             width: 75px;
                            text-align: center;
                            line-height: 28px;
                            font-style: normal;
                            cursor: pointer;
                            cursor: pointer;
                            @include br4(3px);
                            border: 1px solid #ff9700;
                            background: #fff;
                            color: #666;
                            &:hover {
                                background: #ff9700;
                                color: #fff;
                                border: 1px solid #ff9700;
                            }
                        }
                    }
                     .enroll-phone-red{
                display: none;
                float: left;
                margin: 27px 0 0 10px;
                width: 14px;
                height: 14px;
                background: #FF000D;
                @include br4(50%);
                color: #fff;
                text-align: center;
                line-height: 14px;
                font-weight: bold;
            }
            span{
                display: none;
                margin: 24px 0 0 0;
                float: left;
                color: #FF000D;
            }
        }
    }

}
 .container{
                    float: left;
                    width: 300px;
                    height: 30px;
                    .docs-methods{
                        width: 300px;
                        height: 30px;
                    }
                    .form-inline{
                        width: 300px;
                        height: 30px;
                    }
                    .city-picker-input {
                        opacity: 0 !important;
                        top: -9999px;
                        left: -9999px;
                        position: absolute;
                        width: 300px;
                        height: 30px;
}

.city-picker-span {
    width: 300px;
    height: 30px;
    position: relative;
    display: block;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 1px solid #999;
    background-color: #fff;
    color: #ccc;
    cursor: pointer;
}

.city-picker-span > .placeholder {
    color: #aaa;
}

.city-picker-span > .arrow {
    position: absolute;
    top: 50%;
    right: 8px;
    width: 10px;
    margin-top: -3px;
    height: 5px;
    background: url(../images/drop-arrow.png) -10px -25px no-repeat;
}

.city-picker-span.focus,
.city-picker-span.open {
    border:1px solid #00aaee;
}

.city-picker-span.open > .arrow {
    background-position: -10px -10px;
}

.city-picker-span > .title > span {
    color: #333;
    padding: 5px;
    border-radius: 3px;
}

.city-picker-span > .title > span:hover {
    background-color: #f1f8ff;
}

.city-picker-dropdown {
    overflow: hidden;
    position: absolute;
    width: 315px;
    left: -9999px;
    top: -9999px;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 999999;
    display: none;
    min-width: 330px;
    margin-bottom: 20px;
}

.city-select-wrap {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.city-select-tab {
    border-bottom: 1px solid #ccc;
    background: #f0f0f0;
    font-size: 13px;
    width: 322px;
}

.city-select-tab > a {
    display: inline-block;
    padding: 8px 22px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid transparent;
    color: #4D4D4D;
    text-align: center;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: -1px;
}

.city-select-tab > a.active {
    background: #fff;
    border-bottom: 1px solid #fff;
    color: #46A4FF;
}

.city-select-tab > a:first-child {
    border-left: none;
}

.city-select-tab > a:last-child.active {
    border-right: 1px solid #ccc;
}

.city-select-content {
    width: 292px;
    min-height: 10px;
    background-color: #fff;
    padding: 10px 15px;
}

.city-select {
    font-size: 13px;
}

.city-select dl {
    line-height: 2;
    clear: both;
    padding: 3px 0;
    margin: 0;
}

.city-select dt {
    position: absolute;
    width: 2.5em;
    font-weight: 500;
    text-align: right;
    line-height: 2;
}

.city-select dd {
    margin-left: 0;
    line-height: 2;
}

.city-select.province dd {
    margin-left: 3em;
}

.city-select a {
    display: inline-block;
    padding: 0 10px;
    outline: 0;
    text-decoration: none;
    white-space: nowrap;
    margin-right: 2px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.city-select a:hover,
.city-select a:focus {
    background-color: #f1f8ff;
    border-radius: 2px;
    color: #46A4FF;
}

.city-select a.active {
    background-color: #46A4FF;
    color: #fff;
    border-radius: 2px;
}
}