@import "base";
.refund {
    margin: 0 auto 40px auto;
    width: 1200px;
    .refund-nav {
        margin-bottom: 10px;
        width: 1200px;
        height: 49px;
        border-bottom: 1px solid #B3B3B3;
        font-size: 14px;
        a {
            display: inline-block;
            line-height: 48px;
            color: #000;
        }
    }
    .refund-present {
        overflow: hidden;
        width: 1198px;
        border: 1px solid #CCCCCC;
        margin-bottom: 10px;
        background: #fff;
        .center-perfect {
            margin-top: 60px;
            float: left;
            width: 897px;
            .perfect-row {
                position: relative;
                width: 897px;
                height: 30px;
                margin-bottom: 20px;
                .sky {
                    float: left;
                    width: 11px;
                    height: 30px;
                }
                i {
                    float: left;
                    margin-right: 5px;
                    color: #FF000D;
                    font-size: 20px;
                    line-height: 36px;
                }
                .perfect-row-left {
                    float: left;
                    width: 190px;
                    font-size: 14px;
                    color: #333;
                    line-height: 30px;
                    text-align: right;
                }
                .perfect-row-radio {
                    float: left;
                    margin-top: 9px;
                }
                .perfect-row-right {
                    float: left;
                    font-size: 14px;
                    color: #333;
                    line-height: 30px;
                }
                .firm {
                    margin-left: 5px;
                    font-size: 12px;
                    color: #999;
                    line-height: 30px;
                }
                .null {
                    margin-right: 20px;
                }
                .phone {
                    float: left;
                    padding: 0 10px;
                    width: 220px;
                    height: 28px;
                    line-height: 28px;
                    border: 1px solid #999;
                }
                .phone-select{
                float: left;
                padding: 0 10px;
                width: 220px;
                height: 28px;
                line-height: 28px;
                border: 1px solid #999;
                outline: none;
                .trigon{
                    float: right;
                    line-height: 30px;
                    font-size: 20px;
                }
                .phone-text{
                    color: #999;
                }
            } 
            .choose-select{
                display: none;
                position: absolute;
                left: 204px;
                top: 29px;
                z-index: 2;
                width: 240px;
                background: #fff;
                border: 1px solid #999;
                .choose-option{
                    height: 20px;
                    cursor:default;
                    font-size: 14px;
                    color: #666;
                    &:hover{
                        background: #00aaee;
                        color: #fff;
                    }
                    p{
                        float: left;
                        margin-left: 15px;
                        line-height: 20px;
                    }
                }
                .choose-option.h{
                    background: #00aaee;
                    color: #fff;
                }
            }
                #slider {
                    float: left;
                    width: 242px;
                    height: 30px;
                    position: relative;
                    border-radius: 2px;
                    background-color: #dae2d0;
                    overflow: hidden;
                    text-align: center;
                    user-select: none;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                }
                #slider_bg {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    background-color: #7AC23C;
                    z-index: 1;
                }
                #label {
                    width: 46px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 28px;
                    line-height: 28px;
                    border: 1px solid #cccccc;
                    background: #fff;
                    z-index: 3;
                    cursor: move;
                    color: #ff9e77;
                    font-size: 16px;
                    font-weight: 900;
                }
                #labelTip {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    font-size: 13px;
                    font-family: 'Microsoft Yahei', serif;
                    color: #787878;
                    line-height: 28px;
                    text-align: center;
                    z-index: 2;
                }
            }
            .perfect-row:nth-child(1){
                height: 58px;
            }
            .perfect-row:nth-child(6),.perfect-row:nth-child(7){
                height: 100px;
            }
            .enroll-code {
                display: none;
            }
            .permit-all {
                overflow: hidden;
                position: relative;
                margin-right: 20px;
                float: left;
                width: 80px;
                height: 80px;
                cursor: pointer;
                .plus {
                    font-size: 40px;
                    text-align: center;
                    color: #999;
                }
                .plus-file {
                    font-size: 14px;
                    text-align: center;
                    color: #999;
                }
                #addCommodityIndex {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 80px;
                    width: 80px;
                }
            }
            .attachment-all {
                overflow: hidden;
                position: relative;
                margin-top: 5px;
                float: left;
                width: 100px;
                height: 20px;
                cursor: pointer;
                border: 1px solid #999;
                .attachment-file {
                    font-size: 12px;
                    text-align: center;
                    color: #000;
                    line-height: 20px;
                }
                .attachment {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100px;
                    height: 20px;
                    opacity: 0;
                }
            }
            textarea {
                float: left;
                width: 360px;
                height: 88px;
                padding: 5px;
                resize: none;
                outline: none;
                border: 1px solid #999;
            }
            .perfect-code-hint {
                overflow: hidden;
                margin: -20px 0 15px 203px;
                width: 380px;
                color: #999;
                font-size: 12px;
                .choose {
                    float: left;
                    margin: 20px 0 0 0;
                    width: 160px;
                    height: 30px;
                    background: #00aaee;
                    color: #fff;
                    font-size: 14px;
                }
                .enroll-phone-red {
                    display: none;
                    float: left;
                    margin: 27px 0 0 10px;
                    width: 14px;
                    height: 14px;
                    background: #FF000D;
                    @include br4(50%);
                    color: #fff;
                    text-align: center;
                    line-height: 14px;
                    font-weight: bold;
                    text-align: justifys
                }
                span {
                    display: none;
                    margin: 24px 0 0 0;
                    float: left;
                    color: #FF000D;
                }
            }
            .enroll-bottom-breath {
                margin: 0 auto;
                width: 210px;
                height: 20px;
                a {
                    margin-left: 22px;
                    color: #333;
                    font-size: 14px;
                    color: #00aaee;
                }
            }
        }
        .refund-right {
            float: right;
            padding: 20px;
            width: 260px;
            height: 600px;
            border-left: 1px solid #CCCCCC;
            .order {
                height: 38px;
                width: 260px;
                border-bottom: 1px solid #CCCCCC;
                font-size: 16px;
                color: #333;
            }
            .refund-breath {
                padding: 20px 0 40px 0;
                color: #333333;
                height: 100px;
                width: 260px;
                border-bottom: 1px solid #CCCCCC;
                font-size: 14px;
                text-align: center;
                .refund-logo {
                    overflow: hidden;
                    float: left;
                    width: 100px;
                    height: 100px;
                    background: url("../images/20170727160710.jpg")no-repeat 100% 100%;
                    background-size: contain;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .refund-logo-name {
                        padding: 5px;
                        overflow: hidden;
                        max-width: 70px;
                        max-height: 86px;
                        background: rgba(0, 0, 0, 0.6);
                        color: #ffffff;
                        line-height: 18px;
                        font-size: 14px;
                        text-align: left;
                    }
                }
                .refund-item {
                    float: left;
                    width: 150px;
                    height: 100px;
                    margin-left: 10px;
                    text-align: left;
                    font-weight: lighter;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div {
                        p {
                            color: #333;
                        }
                        p:last-of-type {
                            margin-top: 10px;
                            color: #999;
                        }
                    }
                }
            }
            .refund-details {
                margin-top: 40px;
                li {
                    font-size: 14px;
                    line-height: 24px;
                    span {
                        display: inline-block;
                        width: 80px;
                        text-align: justify;
                        text-align-last: justify;
                        color: #999;
                    }
                    i {
                        color: #333;
                    }
                }
                li:nth-child(1) {
                    i {
                        color: #00aaee;
                    }
                }
                li:nth-child(3) {
                    i {
                        color: #00aaee;
                    }
                }
            }
        }
    }
    .refund-center {
        border-collapse: collapse;
        width: 1198px;
        border: 1px solid #E3F8FF;
        margin-bottom: 10px;
        &:hover {
            border: 1px solid #00FFFF;
        }
        tbody {
            .refund-line-top {
                overflow: hidden;
                width: 1198px;
                height: 49px;
                border-bottom: 1px solid #E3F8FF;
                background: #F3FCFF;
                .refund-line-time {
                    margin-left: 35px;
                    line-height: 49px;
                    color: #000;
                }
                .refund-line-time:nth-child(2) {
                    margin-left: 45px;
                    color: #666;
                }
                .refund-line-time:nth-child(3) {
                    margin-left: 80px;
                    color: #333;
                }
                .refund-line-time:nth-child(4) {
                    float: right;
                    font-size: 16px;
                    margin-right: 35px;
                    span {
                        margin: 0 10px;
                        cursor: pointer;
                    }
                }
            }
            .refund-indent {
                overflow: hidden;
                width: 1198px;
                background: #fff;
                td {
                    height: 140px;
                    width: 130px;
                    border-right: 1px solid #E3F8FF;
                    border-top: none;
                    border-bottom: none;
                }
                td:last-of-type {
                    border-right: none;
                }
                .refund-row {
                    float: left;
                    padding: 20px 0;
                    height: 100px;
                    width: 655px;
                    border-bottom: 1px solid #E3F8FF;
                    .refund-breath {
                        float: left;
                        margin-left: 35px;
                        color: #333333;
                        height: 100px;
                        font-size: 14px;
                        text-align: center;
                        .refund-logo {
                            overflow: hidden;
                            float: left;
                            width: 100px;
                            height: 100px;
                            background: url("../images/20170727160710.jpg")no-repeat 100% 100%;
                            background-size: contain;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .refund-logo-name {
                                padding: 5px;
                                overflow: hidden;
                                max-width: 70px;
                                max-height: 86px;
                                background: rgba(0, 0, 0, 0.6);
                                color: #ffffff;
                                line-height: 18px;
                                font-size: 14px;
                                text-align: left;
                            }
                        }
                        .refund-item {
                            float: left;
                            width: 250px;
                            margin-left: 10px;
                            text-align: left;
                            font-weight: lighter;
                            p {
                                margin-top: 30px;
                                color: #333;
                            }
                            p:last-of-type {
                                margin-top: 10px;
                                color: #999;
                            }
                        }
                        .refund-cost {
                            float: left;
                            width: 130px;
                            line-height: 100px;
                            color: #333;
                        }
                    }
                }
                .refund-unit {
                    float: left;
                    width: 130px;
                    font-size: 14px;
                    text-align: center;
                    span {
                        line-height: 36px;
                    }
                    a {
                        display: block;
                    }
                }
                .refund-affirm {
                    float: left;
                    width: 148px;
                    text-align: center;
                    a {
                        display: block;
                        margin-top: 8px;
                        color: #fff;
                        span {
                            margin: 0 auto;
                            display: inline-block;
                            padding: 0 10px;
                            height: 20px;
                            background: #00aaee;
                            border: 1px solid #00aaee;
                            line-height: 18px;
                            &:hover {
                                background: #009adb;
                                border: 1px solid #009adb;
                            }
                        }
                        .estimate {
                            color: #666;
                            background: #fff;
                            border: 1px solid #666;
                            &:hover {
                                color: #fff;
                                background: #00aaee;
                                border: 1px solid #00aaee;
                            }
                        }
                    }
                    a:nth-child(2) {
                        color: #ff9700;
                        span {
                            background: #fff;
                            border: 1px solid #ff9700;
                            &:hover {
                                color: #fff;
                                background: #ff9700;
                            }
                        }
                    }
                }
            }
        }
    }
}

.nominate-bottom {
    margin: 0 auto;
    width: 1200px;
    ul {
        overflow: hidden;
        li {
            float: left;
            margin: 0 20px 20px 0;
            width: 285px;
            height: 340px;
            background: #fff;
            img {
                width: 285px;
                height: 285px;
            }
            p {
                height: 55px;
                color: #808080;
                line-height: 55px;
                span {
                    float: left;
                    margin-left: 15px;
                    font-size: 16px;
                }
                span:nth-child(2) {
                    float: right;
                    margin-right: 10px;
                    color: #FF9700;
                }
            }
        }
        li:nth-child(4n) {
            margin: 0 0 20px 0;
        }
    }
    .nominate {
        margin: 20px 0;
        i {
            font-size: 18px;
            color: #333333;
        }
    }
}