* {
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei', 'iconfont';
  font-size: 12px; }

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #333333; }

ol,
ul,
li {
  list-style-type: none; }

input {
  outline: none;
  border: none;
  background: none; }

i {
  font-style: normal; }

/*border-radius*/
.cover-all {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

.my-profile-top {
  width: 100%;
  height: 60px;
  background: #f5f5f5; }

.my-profile {
  margin: 0px auto 60px auto;
  width: 1200px; }
  .my-profile .my-profile-right {
    position: relative;
    float: right;
    padding: 20px;
    width: 950px;
    min-height: 900px;
    background: #fff;
    border-left: 10px solid #f5f5f5; }
    .my-profile .my-profile-right .my-profile-right-top {
      width: 950px;
      height: 20px; }
      .my-profile .my-profile-right .my-profile-right-top .column {
        float: left;
        font-size: 14px;
        color: #999; }
      .my-profile .my-profile-right .my-profile-right-top .column:nth-child(2) {
        float: right;
        margin-top: 9px;
        width: 890px;
        border-bottom: 1px solid #999; }
    .my-profile .my-profile-right .my-profile-right-bottom .menu {
      width: 950px;
      height: 30px;
      border-bottom: 1px solid #999; }
      .my-profile .my-profile-right .my-profile-right-bottom .menu .subnav {
        display: inline-block;
        margin-right: 15px;
        font-size: 12px;
        line-height: 30px;
        color: #666;
        cursor: pointer; }
      .my-profile .my-profile-right .my-profile-right-bottom .menu .subnav.h {
        font-size: 14px;
        line-height: 28px;
        border-bottom: 3px solid #00aaee;
        color: #00aaee; }
    .my-profile .my-profile-right .my-profile-right-bottom .center-perfect {
      display: none;
      margin-top: 20px;
      float: left;
      width: 950px; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect select {
        width: 100px;
        height: 30px;
        color: #666;
        line-height: 30px; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .refund-column {
        margin-top: 10px;
        width: 950px;
        height: 38px;
        background: #f2f2f2;
        color: #666;
        line-height: 38px; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .refund-column select {
          margin-left: 47px;
          width: auto;
          border: none;
          background: #f2f2f2; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .refund-column .refund-column-name {
          margin-left: 42px; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .refund-column .refund-column-name:nth-child(1) {
          margin-left: 35px; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .refund-column .refund-column-name:nth-child(2) {
          margin-left: 234px; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .refund-column .refund-column-name:nth-child(3) {
          margin-left: 73px; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .refund-column .refund-column-name:nth-child(7) {
          margin-left: 47px; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .refund-columns {
        margin-top: 10px;
        width: 950px;
        height: 38px;
        background: #f2f2f2;
        color: #666;
        line-height: 38px;
        border-bottom: 1px solid #999999; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .refund-columns .refund-column-names {
          margin-left: 130px; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .refund-columns .refund-column-names:nth-child(1) {
          margin-left: 35px; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .refund-columns .refund-column-names:nth-child(2) {
          margin-left: 400px; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices {
        margin-bottom: 10px;
        width: 950px;
        background: #fff; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units {
          height: 140px;
          width: 105px;
          font-size: 14px;
          text-align: center;
          color: #999;
          position: relative; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units span {
            line-height: 36px; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units .check {
            margin-top: -10px;
            position: relative;
            cursor: pointer;
            line-height: 44px; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units .check a {
              color: #999; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units .check:hover a {
              color: #00aaee; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units .check:hover .close-three {
              display: block; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units .check:hover .check-goods {
              display: block; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units .check .close-three {
              display: none;
              position: absolute;
              bottom: -18px;
              left: 41px;
              z-index: 2;
              width: 0;
              height: 0;
              border-width: 10px;
              border-style: solid;
              border-color: #00aaee transparent transparent;
              margin: 40px auto; }
              .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units .check .close-three .corner {
                width: 0;
                height: 0;
                border-width: 10px;
                border-style: solid;
                border-color: #fff transparent transparent;
                position: absolute;
                top: -11px;
                left: -10px; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units .check .check-goods {
              display: none;
              overflow: hidden;
              position: absolute;
              bottom: 42px;
              left: -90px;
              z-index: 1;
              width: 260px;
              padding: 0 10px;
              border: 1px solid #00aaee;
              background: #fff;
              border-radius: 5px;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              -o-border-radius: 5px;
              -ms-border-radius: 5px;
              color: #999;
              font-size: 12px;
              text-align: left; }
              .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units .check .check-goods .order-form {
                height: 40px;
                border-bottom: 1px solid #999999;
                line-height: 40px;
                text-indent: 15px; }
              .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units .check .check-goods .order-form-flow {
                margin-top: 30px;
                width: 240px; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units .check .check-goods .order-form-flow li {
                  margin: 0 0 0 20px;
                  height: 65px;
                  border-left: 1px solid #999; }
                  .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units .check .check-goods .order-form-flow li .order-form-flow-circle {
                    margin-left: -3px;
                    width: 5px;
                    height: 5px;
                    background: #999;
                    border-radius: 50%;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -o-border-radius: 50%;
                    -ms-border-radius: 50%; }
                  .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units .check .check-goods .order-form-flow li p {
                    margin: -20px 0 0 20px;
                    width: 218px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    line-height: 16px; }
                  .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units .check .check-goods .order-form-flow li .order-form-flow-time {
                    display: block;
                    margin: -6px 0 0 20px; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units .check .check-goods .order-form-flow li:first-of-type {
                  color: #00aaee; }
                  .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units .check .check-goods .order-form-flow li:first-of-type .order-form-flow-circle {
                    background: #00aaee; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:last-of-type tbody .refund-indent .refund-units .check .check-goods .order-form-flow li:last-of-type {
                  border-left: 1px solid #fff; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center {
          border-collapse: collapse;
          width: 950px;
          border: 1px solid #E3F8FF;
          margin-bottom: 10px; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center:hover {
            border: 1px solid #00FFFF; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-line-top {
            overflow: hidden;
            height: 49px;
            border-bottom: 1px solid #E3F8FF;
            background: #F3FCFF; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-line-top .refund-line-time {
              margin-left: 35px;
              line-height: 49px;
              color: #000; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-line-top .refund-line-time:nth-child(2) {
              margin-left: 40px;
              color: #666; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-line-top .refund-line-time:nth-child(3) {
              margin-left: 40px;
              color: #333; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-line-top .refund-line-time:nth-child(4) {
              float: right;
              font-size: 16px;
              margin-right: 60px; }
              .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-line-top .refund-line-time:nth-child(4) span {
                margin: 0 10px;
                cursor: pointer; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent {
            overflow: hidden;
            background: #fff; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-row {
              float: left;
              padding: 20px 0;
              height: 100px;
              width: 280px; }
              .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-row .refund-breath {
                float: left;
                margin-left: 20px;
                color: #333333;
                height: 100px;
                font-size: 12px;
                text-align: center; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-row .refund-breath .refund-logo {
                  overflow: hidden;
                  float: left;
                  width: 100px;
                  height: 100px; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-row .refund-breath .refund-item {
                  float: left;
                  height: 100px;
                  margin-left: 10px;
                  text-align: left; }
                  .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-row .refund-breath .refund-item p {
                    width: 150px;
                    margin-top: 30px;
                    color: #333; }
                  .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-row .refund-breath .refund-item p:last-of-type {
                    margin-top: 10px;
                    color: #999; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-row .refund-breath .refund-cost {
                  float: left;
                  line-height: 100px;
                  color: #333; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit {
              height: 140px;
              width: 105px;
              font-size: 14px;
              text-align: center;
              color: #999;
              position: relative; }
              .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit span {
                line-height: 36px; }
              .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit .check {
                margin-top: -10px;
                position: relative;
                cursor: pointer;
                line-height: 44px; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit .check a {
                  color: #999; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit .check:hover a {
                  color: #00aaee; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit .check:hover .close-three {
                  display: block; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit .check:hover .check-goods {
                  display: block; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit .check .close-three {
                  display: none;
                  position: absolute;
                  bottom: -41px;
                  left: 41px;
                  z-index: 2;
                  width: 0;
                  height: 0;
                  border-width: 10px;
                  border-style: solid;
                  border-color: transparent transparent #00aaee;
                  margin: 40px auto; }
                  .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit .check .close-three .corner {
                    width: 0;
                    height: 0;
                    border-width: 10px;
                    border-style: solid;
                    border-color: transparent transparent #fff;
                    position: absolute;
                    top: -9px;
                    left: -10px; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit .check .check-goods {
                  display: none;
                  overflow: hidden;
                  position: absolute;
                  top: 44px;
                  left: -90px;
                  z-index: 1;
                  width: 260px;
                  padding: 0 10px;
                  border: 1px solid #00aaee;
                  background: #fff;
                  border-radius: 5px;
                  -moz-border-radius: 5px;
                  -webkit-border-radius: 5px;
                  -o-border-radius: 5px;
                  -ms-border-radius: 5px;
                  color: #999;
                  font-size: 12px;
                  text-align: left; }
                  .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit .check .check-goods .order-form {
                    height: 40px;
                    border-bottom: 1px solid #999999;
                    line-height: 40px;
                    text-indent: 15px; }
                  .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit .check .check-goods .order-form-flow {
                    margin-top: 30px;
                    width: 240px; }
                    .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit .check .check-goods .order-form-flow li {
                      margin: 0 0 0 20px;
                      height: 65px;
                      border-left: 1px solid #999; }
                      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit .check .check-goods .order-form-flow li .order-form-flow-circle {
                        margin-left: -3px;
                        width: 5px;
                        height: 5px;
                        background: #999;
                        border-radius: 50%;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -o-border-radius: 50%;
                        -ms-border-radius: 50%; }
                      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit .check .check-goods .order-form-flow li p {
                        margin: -20px 0 0 20px;
                        width: 218px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        line-height: 16px; }
                      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit .check .check-goods .order-form-flow li .order-form-flow-time {
                        display: block;
                        margin: -6px 0 0 20px; }
                    .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit .check .check-goods .order-form-flow li:first-of-type {
                      color: #00aaee; }
                      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit .check .check-goods .order-form-flow li:first-of-type .order-form-flow-circle {
                        background: #00aaee; }
                    .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit .check .check-goods .order-form-flow li:last-of-type {
                      border-left: 1px solid #fff; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit:nth-child(2),
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-unit:nth-child(5) {
              color: #666; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-affirm {
              width: 148px;
              height: 140px;
              color: #999;
              text-align: center;
              border-right: none; }
              .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-affirm .update, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-affirm .verify {
                margin: 10px auto;
                height: 20px;
                width: 60px;
                background: #fff;
                border: 1px solid #00aaee;
                line-height: 18px;
                cursor: pointer; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-affirm .update:hover, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-affirm .verify:hover {
                  background: #009adb;
                  color: #fff;
                  border: 1px solid #009adb; }
              .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-affirm .verify.h {
                border: none; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .refund-center tbody .refund-indent .refund-affirm .verify.h:hover {
                  background: #fff;
                  color: #999;
                  border: none; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center {
          width: 950px; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top {
            width: 950px;
            overflow: hidden;
            border-bottom: 1px solid #999999; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center:nth-child(1) {
              width: 448px; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center:nth-child(3) {
              margin: 15px 0 15px 20px;
              width: 200px; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center:nth-child(4) {
              align-items: center; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center {
              float: left;
              min-height: 68px;
              margin: 15px 0;
              width: 123px;
              display: flex;
              justify-content: center; }
              .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center .review {
                padding: 0 15px;
                overflow: hidden;
                color: #333; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center .review img {
                  float: left;
                  width: 22px;
                  height: 22px; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center .review .review-right {
                  margin-left: 20px;
                  width: 376px;
                  float: left; }
                  .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center .review .review-right .review-right-top {
                    display: inline-block;
                    width: 370px;
                    margin-bottom: 10px;
                    color: #333333; }
                  .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center .review .review-right .review-right-time {
                    color: #999; }
                  .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center .review .review-right .review-right-add {
                    overflow: hidden;
                    margin-top: 10px;
                    border-top: 1px dashed #999999;
                    color: #999; }
                    .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center .review .review-right .review-right-add p span {
                      float: left; }
                    .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center .review .review-right .review-right-add p i {
                      margin: 7px 0 7px 4px;
                      float: left;
                      width: 315px;
                      color: #333; }
              .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center p {
                min-width: 110px;
                color: #999; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center p i {
                  color: #00aaee; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center p em {
                  font-style: normal;
                  color: #ff9700; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center p span {
                  display: inline-block;
                  margin: 7px 0; }
              .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center input {
                text-align: center;
                width: 50px;
                height: 30px;
                border: 1px solid #00aaee;
                color: #666;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                -o-border-radius: 3px;
                -ms-border-radius: 3px;
                cursor: pointer; }
                .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .advices .discuss-center .discuss-line-top .discuss-line-center input:hover {
                  color: #fff;
                  background: #00aaee; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .message-paging {
        margin: 20px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #999; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .message-paging span {
          display: inline-block;
          padding: 5px 10px;
          cursor: pointer; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .message-paging .message-paging-top {
          border: 1px solid #F2F2F2; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .message-paging .message-paging-top:hover {
            border: 1px solid #00aaee; }

.cover-avatar, .cover-avatar-two {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4;
  margin-left: -300px;
  margin-top: -150px;
  width: 600px;
  height: 300px;
  background: #fff;
  border: 1px solid #999; }
  .cover-avatar .cover-top, .cover-avatar-two .cover-top {
    width: 100%;
    height: 40px;
    background: #00aaee;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 40px; }
    .cover-avatar .cover-top span, .cover-avatar-two .cover-top span {
      float: right;
      margin-right: 10px;
      font-size: 20px;
      cursor: pointer; }
  .cover-avatar .cover-bottom, .cover-avatar-two .cover-bottom {
    overflow: auto;
    padding: 0 25px; }
    .cover-avatar .cover-bottom .cover-bottom-center, .cover-avatar-two .cover-bottom .cover-bottom-center {
      padding: 10px 20px;
      color: #666;
      font-size: 14px; }
      .cover-avatar .cover-bottom .cover-bottom-center .balance, .cover-avatar-two .cover-bottom .cover-bottom-center .balance {
        margin-bottom: 10px;
        line-height: 28px; }
      .cover-avatar .cover-bottom .cover-bottom-center textarea, .cover-avatar-two .cover-bottom .cover-bottom-center textarea {
        margin-left: 25px;
        padding: 10px;
        width: 400px;
        height: 90px;
        border: 1px solid #CCCCCC;
        resize: none;
        color: #666; }
      .cover-avatar .cover-bottom .cover-bottom-center .append-all, .cover-avatar-two .cover-bottom .cover-bottom-center .append-all {
        margin-left: 10px; }
        .cover-avatar .cover-bottom .cover-bottom-center .append-all .append-file, .cover-avatar-two .cover-bottom .cover-bottom-center .append-all .append-file {
          float: left;
          width: 125px;
          line-height: 50px;
          text-align: right; }
        .cover-avatar .cover-bottom .cover-bottom-center .append-all .append, .cover-avatar-two .cover-bottom .cover-bottom-center .append-all .append {
          float: left;
          margin-left: 10px;
          position: relative;
          margin-top: 10px;
          width: 80px;
          height: 30px;
          background: #00aaee;
          color: #fff;
          line-height: 30px;
          text-align: center;
          cursor: pointer;
          font-size: 12px;
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          -o-border-radius: 3px;
          -ms-border-radius: 3px; }
          .cover-avatar .cover-bottom .cover-bottom-center .append-all .append input, .cover-avatar-two .cover-bottom .cover-bottom-center .append-all .append input {
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
            height: 30px;
            opacity: 0; }
      .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-btn, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-btn {
        overflow: hidden;
        margin: 10px auto;
        width: 234px;
        font-size: 14px;
        color: #666; }
        .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-btn em, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-btn em {
          display: inline-block;
          height: 30px;
          width: 100px;
          text-align: center;
          line-height: 30px;
          font-style: normal;
          cursor: pointer;
          border: 1px solid #CCCCCC;
          background: #CCCCCC;
          cursor: pointer;
          color: #fff;
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          -o-border-radius: 3px;
          -ms-border-radius: 3px; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-btn em:hover, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-btn em:hover {
            background: #00aaee;
            border: 1px solid #00aaee; }
        .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-btn .abolish-two, .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-btn .ensure-two, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-btn .abolish-two, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-btn .ensure-two {
          margin-top: 15px; }
        .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-btn i, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-btn i {
          margin: 0 15px;
          font-size: 19px; }
