* {
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei', 'iconfont';
  font-size: 12px; }

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #333333; }

ol,
ul,
li {
  list-style-type: none; }

input {
  outline: none;
  border: none;
  background: none; }

i {
  font-style: normal; }

/*border-radius*/
.content {
  margin: 0 auto;
  width: 1200px;
  height: auto; }
  .content .seek {
    margin-left: 20px;
    height: 60px; }
    .content .seek i {
      line-height: 60px;
      font-size: 18px;
      color: #333333; }
  .content .seek-all {
    float: right;
    margin-right: 100px;
    width: 563px;
    height: 40px;
    font-size: 14px; }
    .content .seek-all a {
      display: inline-block;
      padding: 0 25px;
      height: 40px;
      color: #333333;
      line-height: 40px; }
    .content .seek-all a:nth-child(1) {
      font-size: 18px;
      background: #00AAEE;
      color: #fff;
      border-radius: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      -o-border-radius: 20px;
      -ms-border-radius: 20px; }
  .content .content-enroll {
    margin-top: 100px;
    padding: 0 100px;
    width: 1000px;
    background: #fff;
    overflow: hidden; }
    .content .content-enroll h1 {
      margin-top: 60px;
      text-align: center;
      font-size: 30px; }
    .content .content-enroll .issue {
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 14px;
      color: #666666; }
      .content .content-enroll .issue span {
        margin: 0 15px; }
    .content .content-enroll .login {
      line-height: 30px;
      font-size: 18px;
      font-weight: bold;
      color: #00AAEE; }
      .content .content-enroll .login a {
        margin: 0 10px;
        display: inline-block;
        padding: 0 18px;
        height: 30px;
        color: #333333;
        line-height: 30px;
        font-weight: lighter; }
      .content .content-enroll .login a:nth-child(1) {
        margin-left: 40px;
        background: #00AAEE;
        color: #fff;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        -o-border-radius: 15px;
        -ms-border-radius: 15px; }
    .content .content-enroll b {
      margin: 30px 0 20px 0;
      display: block;
      color: #333333;
      font-size: 18px; }
    .content .content-enroll .row {
      font-size: 14px;
      color: #333333; }
    .content .content-enroll .img-enroll {
      margin: 5px 0 20px 0;
      width: 1000px;
      height: 122px; }
    .content .content-enroll .img-enter {
      margin: 20px auto;
      width: 290px;
      height: 400px; }
      .content .content-enroll .img-enter img {
        width: 290px;
        height: 400px; }
    .content .content-enroll .img-ask {
      margin: 5px 0 20px 0;
      width: 1000px;
      height: 100px; }
  .content .content-need {
    margin: 46px auto;
    width: 620px;
    height: 42px;
    font-size: 14px;
    color: #333333; }
    .content .content-need span {
      line-height: 42px; }
    .content .content-need input {
      width: 120px;
      height: 40px;
      border: 1px solid #ff9700;
      cursor: pointer; }
    .content .content-need input.h {
      background: #ff9700;
      color: #fff; }
    .content .content-need .useful {
      margin: 0 70px;
      border: 1px solid #00aaee; }
    .content .content-need .useful.h {
      background: #00aaee;
      color: #fff; }
  .content .phone {
    text-align: center;
    font-size: 14px;
    color: #333333; }
  .content .piece {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto 40px auto; }
    .content .piece .piece-left {
      float: left;
      color: #999; }
      .content .piece .piece-left span {
        font-size: 40px;
        vertical-align: middle; }
      .content .piece .piece-left i {
        display: inline-block;
        height: 40px;
        font-size: 14px;
        line-height: 48px;
        vertical-align: middle; }
    .content .piece .piece-right {
      float: right;
      color: #666666; }
      .content .piece .piece-right span {
        font-size: 40px;
        vertical-align: middle; }
      .content .piece .piece-right i {
        display: inline-block;
        height: 40px;
        font-size: 14px;
        line-height: 48px;
        vertical-align: middle; }
