* {
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei', 'iconfont';
  font-size: 12px; }

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #333333; }

ol,
ul,
li {
  list-style-type: none; }

input {
  outline: none;
  border: none;
  background: none; }

i {
  font-style: normal; }

/*border-radius*/
.cover-all {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

.refund {
  margin: 0 auto 40px auto;
  width: 1200px; }
  .refund .refund-nav {
    width: 1200px;
    height: 49px;
    border-bottom: 1px solid #B3B3B3;
    font-size: 18px; }
    .refund .refund-nav a {
      padding: 0 30px;
      display: inline-block;
      line-height: 48px;
      color: #000;
      font-weight: bold;
      cursor: pointer; }
    .refund .refund-nav a.h {
      color: #FF9700;
      border-bottom: 2px solid #FF9700; }
    .refund .refund-nav span {
      color: #999; }
  .refund .refund-column {
    margin: 20px 0;
    width: 1198px;
    height: 38px;
    border: 1px solid #E6E6E6;
    background: #fff;
    color: #666;
    line-height: 38px; }
    .refund .refund-column .refund-column-name {
      margin-left: 87px; }
    .refund .refund-column .refund-column-name:nth-child(1) {
      margin-left: 100px; }
    .refund .refund-column .refund-column-name:nth-child(2) {
      margin-left: 300px; }
    .refund .refund-column .refund-column-name:nth-child(3) {
      margin-left: 100px; }
  .refund .refund-center {
    border-collapse: collapse;
    width: 1198px;
    border: 1px solid #E3F8FF;
    margin-bottom: 10px; }
    .refund .refund-center:hover {
      border: 1px solid #00FFFF; }
    .refund .refund-center tbody .refund-line-top {
      overflow: hidden;
      width: 1198px;
      height: 49px;
      border-bottom: 1px solid #E3F8FF;
      background: #F3FCFF; }
      .refund .refund-center tbody .refund-line-top .refund-line-time {
        margin-left: 35px;
        line-height: 49px;
        color: #000; }
      .refund .refund-center tbody .refund-line-top .refund-line-time:nth-child(2) {
        margin-left: 45px;
        color: #666; }
      .refund .refund-center tbody .refund-line-top .refund-line-time:nth-child(3) {
        margin-left: 80px;
        color: #333; }
      .refund .refund-center tbody .refund-line-top .refund-line-time:nth-child(4) {
        float: right;
        font-size: 16px;
        margin-right: 35px; }
        .refund .refund-center tbody .refund-line-top .refund-line-time:nth-child(4) span {
          margin: 0 10px;
          cursor: pointer; }
    .refund .refund-center tbody .refund-indent {
      overflow: hidden;
      width: 1198px;
      background: #fff; }
      .refund .refund-center tbody .refund-indent td {
        height: 140px;
        width: 130px;
        border-right: 1px solid #E3F8FF;
        border-top: none;
        border-bottom: none; }
      .refund .refund-center tbody .refund-indent td:last-of-type {
        border-right: none; }
      .refund .refund-center tbody .refund-indent .refund-row {
        float: left;
        padding: 20px 0;
        height: 100px;
        width: 655px;
        border-bottom: 1px solid #E3F8FF; }
        .refund .refund-center tbody .refund-indent .refund-row .refund-breath {
          float: left;
          margin-left: 35px;
          color: #333333;
          height: 100px;
          font-size: 14px;
          text-align: center; }
          .refund .refund-center tbody .refund-indent .refund-row .refund-breath .refund-logo {
            overflow: hidden;
            float: left;
            width: 100px;
            height: 100px;
            background: url("../images/20170727160710.jpg") no-repeat 100% 100%;
            background-size: contain;
            display: flex;
            justify-content: center;
            align-items: center; }
            .refund .refund-center tbody .refund-indent .refund-row .refund-breath .refund-logo .refund-logo-name {
              padding: 5px;
              overflow: hidden;
              max-width: 70px;
              max-height: 86px;
              background: rgba(0, 0, 0, 0.6);
              color: #ffffff;
              line-height: 18px;
              font-size: 14px;
              text-align: left; }
          .refund .refund-center tbody .refund-indent .refund-row .refund-breath .refund-item {
            float: left;
            width: 250px;
            margin-left: 10px;
            text-align: left;
            font-weight: lighter; }
            .refund .refund-center tbody .refund-indent .refund-row .refund-breath .refund-item p {
              margin-top: 30px;
              color: #333; }
            .refund .refund-center tbody .refund-indent .refund-row .refund-breath .refund-item p:last-of-type {
              margin-top: 10px;
              color: #999; }
          .refund .refund-center tbody .refund-indent .refund-row .refund-breath .refund-cost {
            float: left;
            width: 130px;
            line-height: 100px;
            color: #333; }
      .refund .refund-center tbody .refund-indent .refund-unit {
        float: left;
        width: 130px;
        font-size: 14px;
        text-align: center; }
        .refund .refund-center tbody .refund-indent .refund-unit span {
          line-height: 36px; }
        .refund .refund-center tbody .refund-indent .refund-unit a {
          display: block;
          cursor: pointer; }
          .refund .refund-center tbody .refund-indent .refund-unit a:hover {
            color: #00aaee; }
        .refund .refund-center tbody .refund-indent .refund-unit em {
          font-style: normal;
          display: block; }
      .refund .refund-center tbody .refund-indent .refund-affirm {
        float: left;
        width: 148px;
        text-align: center; }
        .refund .refund-center tbody .refund-indent .refund-affirm a {
          display: block;
          margin-top: 8px;
          color: #fff; }
          .refund .refund-center tbody .refund-indent .refund-affirm a span {
            margin: 0 auto;
            display: inline-block;
            padding: 0 10px;
            height: 20px;
            background: #00aaee;
            border: 1px solid #00aaee;
            line-height: 18px; }
            .refund .refund-center tbody .refund-indent .refund-affirm a span:hover {
              background: #009adb;
              border: 1px solid #009adb; }
          .refund .refund-center tbody .refund-indent .refund-affirm a .estimate {
            color: #666;
            background: #fff;
            border: 1px solid #666; }
            .refund .refund-center tbody .refund-indent .refund-affirm a .estimate:hover {
              color: #fff;
              background: #00aaee;
              border: 1px solid #00aaee; }
        .refund .refund-center tbody .refund-indent .refund-affirm a:nth-child(2) {
          color: #ff9700; }
          .refund .refund-center tbody .refund-indent .refund-affirm a:nth-child(2) span {
            background: #fff;
            border: 1px solid #ff9700; }
            .refund .refund-center tbody .refund-indent .refund-affirm a:nth-child(2) span:hover {
              color: #fff;
              background: #ff9700; }

.nominate-bottom {
  margin: 0 auto;
  width: 1200px; }
  .nominate-bottom ul {
    overflow: hidden; }
    .nominate-bottom ul li {
      float: left;
      margin: 0 20px 20px 0;
      width: 285px;
      height: 340px;
      background: #fff; }
      .nominate-bottom ul li img {
        width: 285px;
        height: 285px; }
      .nominate-bottom ul li p {
        height: 55px;
        color: #808080;
        line-height: 55px; }
        .nominate-bottom ul li p span {
          float: left;
          margin-left: 15px;
          font-size: 16px; }
        .nominate-bottom ul li p span:nth-child(2) {
          float: right;
          margin-right: 10px;
          color: #FF9700; }
    .nominate-bottom ul li:nth-child(4n) {
      margin: 0 0 20px 0; }
  .nominate-bottom .nominate {
    margin: 20px 0; }
    .nominate-bottom .nominate i {
      font-size: 18px;
      color: #333333; }

.cover-avatar, .cover-avatar-two {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4;
  margin-left: -300px;
  margin-top: -200px;
  width: 600px;
  height: 400px;
  background: #fff;
  border: 1px solid #999; }
  .cover-avatar .cover-top, .cover-avatar-two .cover-top {
    width: 100%;
    height: 40px;
    background: #00aaee;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 40px; }
    .cover-avatar .cover-top span, .cover-avatar-two .cover-top span {
      float: right;
      margin-right: 10px;
      font-size: 20px;
      cursor: pointer; }
  .cover-avatar .cover-bottom-two .cover-top-flow-line-all .cover-top-flow-line:nth-child(1), .cover-avatar-two .cover-bottom-two .cover-top-flow-line-all .cover-top-flow-line:nth-child(1) {
    background: #22B573; }
  .cover-avatar .cover-bottom-three .cover-top-flow-line-all .cover-top-flow-line, .cover-avatar-two .cover-bottom-three .cover-top-flow-line-all .cover-top-flow-line {
    background: #22B573; }
  .cover-avatar .cover-bottom,
  .cover-avatar .cover-bottom-two,
  .cover-avatar .cover-bottom-three, .cover-avatar-two .cover-bottom,
  .cover-avatar-two .cover-bottom-two,
  .cover-avatar-two .cover-bottom-three {
    overflow: auto;
    padding: 0 25px;
    height: 360px; }
    .cover-avatar .cover-bottom .cover-top-flow-line-all,
    .cover-avatar .cover-bottom-two .cover-top-flow-line-all,
    .cover-avatar .cover-bottom-three .cover-top-flow-line-all, .cover-avatar-two .cover-bottom .cover-top-flow-line-all,
    .cover-avatar-two .cover-bottom-two .cover-top-flow-line-all,
    .cover-avatar-two .cover-bottom-three .cover-top-flow-line-all {
      height: 54px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .cover-avatar .cover-bottom .cover-top-flow-line-all .cover-top-flow-line,
      .cover-avatar .cover-bottom-two .cover-top-flow-line-all .cover-top-flow-line,
      .cover-avatar .cover-bottom-three .cover-top-flow-line-all .cover-top-flow-line, .cover-avatar-two .cover-bottom .cover-top-flow-line-all .cover-top-flow-line,
      .cover-avatar-two .cover-bottom-two .cover-top-flow-line-all .cover-top-flow-line,
      .cover-avatar-two .cover-bottom-three .cover-top-flow-line-all .cover-top-flow-line {
        width: 210px;
        height: 1px;
        background: #ccc; }
    .cover-avatar .cover-bottom .cover-top-flow,
    .cover-avatar .cover-bottom-two .cover-top-flow,
    .cover-avatar .cover-bottom-three .cover-top-flow, .cover-avatar-two .cover-bottom .cover-top-flow,
    .cover-avatar-two .cover-bottom-two .cover-top-flow,
    .cover-avatar-two .cover-bottom-three .cover-top-flow {
      margin-top: -54px;
      height: 62px;
      padding: 10px 25px;
      border-bottom: 1px solid #999999;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .cover-avatar .cover-bottom .cover-top-flow .cover-top-flow-one,
      .cover-avatar .cover-bottom-two .cover-top-flow .cover-top-flow-one,
      .cover-avatar .cover-bottom-three .cover-top-flow .cover-top-flow-one, .cover-avatar-two .cover-bottom .cover-top-flow .cover-top-flow-one,
      .cover-avatar-two .cover-bottom-two .cover-top-flow .cover-top-flow-one,
      .cover-avatar-two .cover-bottom-three .cover-top-flow .cover-top-flow-one {
        width: 72px;
        text-align: center; }
        .cover-avatar .cover-bottom .cover-top-flow .cover-top-flow-one p,
        .cover-avatar .cover-bottom-two .cover-top-flow .cover-top-flow-one p,
        .cover-avatar .cover-bottom-three .cover-top-flow .cover-top-flow-one p, .cover-avatar-two .cover-bottom .cover-top-flow .cover-top-flow-one p,
        .cover-avatar-two .cover-bottom-two .cover-top-flow .cover-top-flow-one p,
        .cover-avatar-two .cover-bottom-three .cover-top-flow .cover-top-flow-one p {
          margin: 0 auto;
          width: 20px;
          height: 20px;
          font-size: 14px;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          -o-border-radius: 50%;
          -ms-border-radius: 50%;
          border: 1px solid #ccc;
          color: #999;
          background: #fff; }
        .cover-avatar .cover-bottom .cover-top-flow .cover-top-flow-one span,
        .cover-avatar .cover-bottom-two .cover-top-flow .cover-top-flow-one span,
        .cover-avatar .cover-bottom-three .cover-top-flow .cover-top-flow-one span, .cover-avatar-two .cover-bottom .cover-top-flow .cover-top-flow-one span,
        .cover-avatar-two .cover-bottom-two .cover-top-flow .cover-top-flow-one span,
        .cover-avatar-two .cover-bottom-three .cover-top-flow .cover-top-flow-one span {
          color: #666;
          line-height: 28px; }
      .cover-avatar .cover-bottom .cover-top-flow .cover-top-flow-one.h p,
      .cover-avatar .cover-bottom-two .cover-top-flow .cover-top-flow-one.h p,
      .cover-avatar .cover-bottom-three .cover-top-flow .cover-top-flow-one.h p, .cover-avatar-two .cover-bottom .cover-top-flow .cover-top-flow-one.h p,
      .cover-avatar-two .cover-bottom-two .cover-top-flow .cover-top-flow-one.h p,
      .cover-avatar-two .cover-bottom-three .cover-top-flow .cover-top-flow-one.h p {
        border: 2px solid #22B573;
        color: #22B573; }
    .cover-avatar .cover-bottom .cover-bottom-center,
    .cover-avatar .cover-bottom-two .cover-bottom-center,
    .cover-avatar .cover-bottom-three .cover-bottom-center, .cover-avatar-two .cover-bottom .cover-bottom-center,
    .cover-avatar-two .cover-bottom-two .cover-bottom-center,
    .cover-avatar-two .cover-bottom-three .cover-bottom-center {
      padding: 10px 20px;
      color: #999;
      font-size: 14px; }
      .cover-avatar .cover-bottom .cover-bottom-center .balance,
      .cover-avatar .cover-bottom-two .cover-bottom-center .balance,
      .cover-avatar .cover-bottom-three .cover-bottom-center .balance, .cover-avatar-two .cover-bottom .cover-bottom-center .balance,
      .cover-avatar-two .cover-bottom-two .cover-bottom-center .balance,
      .cover-avatar-two .cover-bottom-three .cover-bottom-center .balance {
        overflow: hidden;
        line-height: 20px;
        margin-bottom: 10px; }
        .cover-avatar .cover-bottom .cover-bottom-center .balance p,
        .cover-avatar .cover-bottom-two .cover-bottom-center .balance p,
        .cover-avatar .cover-bottom-three .cover-bottom-center .balance p, .cover-avatar-two .cover-bottom .cover-bottom-center .balance p,
        .cover-avatar-two .cover-bottom-two .cover-bottom-center .balance p,
        .cover-avatar-two .cover-bottom-three .cover-bottom-center .balance p {
          text-indent: 24px; }
          .cover-avatar .cover-bottom .cover-bottom-center .balance p a,
          .cover-avatar .cover-bottom-two .cover-bottom-center .balance p a,
          .cover-avatar .cover-bottom-three .cover-bottom-center .balance p a, .cover-avatar-two .cover-bottom .cover-bottom-center .balance p a,
          .cover-avatar-two .cover-bottom-two .cover-bottom-center .balance p a,
          .cover-avatar-two .cover-bottom-three .cover-bottom-center .balance p a {
            color: #00aaee; }
        .cover-avatar .cover-bottom .cover-bottom-center .balance span,
        .cover-avatar .cover-bottom-two .cover-bottom-center .balance span,
        .cover-avatar .cover-bottom-three .cover-bottom-center .balance span, .cover-avatar-two .cover-bottom .cover-bottom-center .balance span,
        .cover-avatar-two .cover-bottom-two .cover-bottom-center .balance span,
        .cover-avatar-two .cover-bottom-three .cover-bottom-center .balance span {
          float: left;
          text-align: right; }
        .cover-avatar .cover-bottom .cover-bottom-center .balance em,
        .cover-avatar .cover-bottom-two .cover-bottom-center .balance em,
        .cover-avatar .cover-bottom-three .cover-bottom-center .balance em, .cover-avatar-two .cover-bottom .cover-bottom-center .balance em,
        .cover-avatar-two .cover-bottom-two .cover-bottom-center .balance em,
        .cover-avatar-two .cover-bottom-three .cover-bottom-center .balance em {
          margin-top: 25px;
          font-style: normal;
          float: left;
          text-align: right; }
        .cover-avatar .cover-bottom .cover-bottom-center .balance i,
        .cover-avatar .cover-bottom-two .cover-bottom-center .balance i,
        .cover-avatar .cover-bottom-three .cover-bottom-center .balance i, .cover-avatar-two .cover-bottom .cover-bottom-center .balance i,
        .cover-avatar-two .cover-bottom-two .cover-bottom-center .balance i,
        .cover-avatar-two .cover-bottom-three .cover-bottom-center .balance i {
          margin-top: 5px;
          float: left;
          margin-right: 5px;
          color: #FF000D;
          font-size: 20px;
          line-height: 20px; }
        .cover-avatar .cover-bottom .cover-bottom-center .balance .permit-all,
        .cover-avatar .cover-bottom-two .cover-bottom-center .balance .permit-all,
        .cover-avatar .cover-bottom-three .cover-bottom-center .balance .permit-all, .cover-avatar-two .cover-bottom .cover-bottom-center .balance .permit-all,
        .cover-avatar-two .cover-bottom-two .cover-bottom-center .balance .permit-all,
        .cover-avatar-two .cover-bottom-three .cover-bottom-center .balance .permit-all {
          overflow: hidden;
          position: relative;
          margin-right: 20px;
          float: left;
          width: 80px;
          height: 80px;
          cursor: pointer; }
          .cover-avatar .cover-bottom .cover-bottom-center .balance .permit-all .plus,
          .cover-avatar .cover-bottom-two .cover-bottom-center .balance .permit-all .plus,
          .cover-avatar .cover-bottom-three .cover-bottom-center .balance .permit-all .plus, .cover-avatar-two .cover-bottom .cover-bottom-center .balance .permit-all .plus,
          .cover-avatar-two .cover-bottom-two .cover-bottom-center .balance .permit-all .plus,
          .cover-avatar-two .cover-bottom-three .cover-bottom-center .balance .permit-all .plus {
            margin-top: 10px;
            font-size: 30px;
            text-align: center;
            color: #999;
            text-indent: 0px; }
          .cover-avatar .cover-bottom .cover-bottom-center .balance .permit-all .plus-file,
          .cover-avatar .cover-bottom-two .cover-bottom-center .balance .permit-all .plus-file,
          .cover-avatar .cover-bottom-three .cover-bottom-center .balance .permit-all .plus-file, .cover-avatar-two .cover-bottom .cover-bottom-center .balance .permit-all .plus-file,
          .cover-avatar-two .cover-bottom-two .cover-bottom-center .balance .permit-all .plus-file,
          .cover-avatar-two .cover-bottom-three .cover-bottom-center .balance .permit-all .plus-file {
            text-align: center;
            font-size: 12px;
            color: #999;
            text-indent: 0px; }
          .cover-avatar .cover-bottom .cover-bottom-center .balance .permit-all #addCommodityIndex,
          .cover-avatar .cover-bottom-two .cover-bottom-center .balance .permit-all #addCommodityIndex,
          .cover-avatar .cover-bottom-three .cover-bottom-center .balance .permit-all #addCommodityIndex, .cover-avatar-two .cover-bottom .cover-bottom-center .balance .permit-all #addCommodityIndex,
          .cover-avatar-two .cover-bottom-two .cover-bottom-center .balance .permit-all #addCommodityIndex,
          .cover-avatar-two .cover-bottom-three .cover-bottom-center .balance .permit-all #addCommodityIndex {
            position: absolute;
            left: 0;
            top: 0;
            height: 80px;
            width: 80px; }
      .cover-avatar .cover-bottom .cover-bottom-center textarea,
      .cover-avatar .cover-bottom-two .cover-bottom-center textarea,
      .cover-avatar .cover-bottom-three .cover-bottom-center textarea, .cover-avatar-two .cover-bottom .cover-bottom-center textarea,
      .cover-avatar-two .cover-bottom-two .cover-bottom-center textarea,
      .cover-avatar-two .cover-bottom-three .cover-bottom-center textarea {
        padding: 10px;
        width: 480px;
        height: 80px;
        resize: none;
        color: #666; }
      .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-btn,
      .cover-avatar .cover-bottom-two .cover-bottom-center .cover-bottom-btn,
      .cover-avatar .cover-bottom-three .cover-bottom-center .cover-bottom-btn, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-btn,
      .cover-avatar-two .cover-bottom-two .cover-bottom-center .cover-bottom-btn,
      .cover-avatar-two .cover-bottom-three .cover-bottom-center .cover-bottom-btn {
        overflow: hidden;
        margin: 20px auto;
        width: 234px;
        height: 32px;
        font-size: 14px;
        color: #666; }
        .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-btn em,
        .cover-avatar .cover-bottom-two .cover-bottom-center .cover-bottom-btn em,
        .cover-avatar .cover-bottom-three .cover-bottom-center .cover-bottom-btn em, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-btn em,
        .cover-avatar-two .cover-bottom-two .cover-bottom-center .cover-bottom-btn em,
        .cover-avatar-two .cover-bottom-three .cover-bottom-center .cover-bottom-btn em {
          display: inline-block;
          height: 30px;
          width: 100px;
          text-align: center;
          line-height: 30px;
          font-style: normal;
          cursor: pointer;
          border: 1px solid #CCCCCC;
          background: #CCCCCC;
          cursor: pointer;
          color: #fff;
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          -o-border-radius: 3px;
          -ms-border-radius: 3px; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-btn em:hover,
          .cover-avatar .cover-bottom-two .cover-bottom-center .cover-bottom-btn em:hover,
          .cover-avatar .cover-bottom-three .cover-bottom-center .cover-bottom-btn em:hover, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-btn em:hover,
          .cover-avatar-two .cover-bottom-two .cover-bottom-center .cover-bottom-btn em:hover,
          .cover-avatar-two .cover-bottom-three .cover-bottom-center .cover-bottom-btn em:hover {
            background: #00aaee;
            border: 1px solid #00aaee; }
        .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-btn i,
        .cover-avatar .cover-bottom-two .cover-bottom-center .cover-bottom-btn i,
        .cover-avatar .cover-bottom-three .cover-bottom-center .cover-bottom-btn i, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-btn i,
        .cover-avatar-two .cover-bottom-two .cover-bottom-center .cover-bottom-btn i,
        .cover-avatar-two .cover-bottom-three .cover-bottom-center .cover-bottom-btn i {
          margin: 0 15px;
          font-size: 19px; }
      .cover-avatar .cover-bottom .cover-bottom-center .prosperity p,
      .cover-avatar .cover-bottom-two .cover-bottom-center .prosperity p,
      .cover-avatar .cover-bottom-three .cover-bottom-center .prosperity p, .cover-avatar-two .cover-bottom .cover-bottom-center .prosperity p,
      .cover-avatar-two .cover-bottom-two .cover-bottom-center .prosperity p,
      .cover-avatar-two .cover-bottom-three .cover-bottom-center .prosperity p {
        font-size: 14px;
        color: #333;
        text-align: center; }
      .cover-avatar .cover-bottom .cover-bottom-center .prosperity p:nth-child(1),
      .cover-avatar .cover-bottom-two .cover-bottom-center .prosperity p:nth-child(1),
      .cover-avatar .cover-bottom-three .cover-bottom-center .prosperity p:nth-child(1), .cover-avatar-two .cover-bottom .cover-bottom-center .prosperity p:nth-child(1),
      .cover-avatar-two .cover-bottom-two .cover-bottom-center .prosperity p:nth-child(1),
      .cover-avatar-two .cover-bottom-three .cover-bottom-center .prosperity p:nth-child(1) {
        font-size: 70px;
        color: #ff9700; }
