* {
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei', 'iconfont';
  font-size: 12px; }

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #333333; }

ol,
ul,
li {
  list-style-type: none; }

input {
  outline: none;
  border: none;
  background: none; }

i, em, cite {
  font-style: normal; }

/*border-radius*/
.cover-all {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

.my-profile-top {
  width: 100%;
  height: 60px;
  background: #f5f5f5; }

.my-profile {
  margin: 0px auto 60px auto;
  width: 1200px; }
  .my-profile .my-profile-right {
    position: relative;
    float: right;
    padding: 20px;
    width: 950px;
    min-height: 900px;
    background: #fff;
    border-left: 10px solid #f5f5f5; }
    .my-profile .my-profile-right .my-profile-right-top {
      width: 950px;
      height: 20px; }
      .my-profile .my-profile-right .my-profile-right-top .column {
        float: left;
        font-size: 14px;
        color: #999; }
      .my-profile .my-profile-right .my-profile-right-top .column:nth-child(2) {
        float: right;
        margin-top: 9px;
        width: 890px;
        border-bottom: 1px solid #999; }
    .my-profile .my-profile-right .my-profile-right-bottom .menu {
      width: 950px;
      height: 30px;
      border-bottom: 1px solid #999; }
      .my-profile .my-profile-right .my-profile-right-bottom .menu .subnav {
        display: inline-block;
        margin-right: 15px;
        font-size: 12px;
        line-height: 30px;
        color: #666;
        cursor: pointer; }
      .my-profile .my-profile-right .my-profile-right-bottom .menu .subnav.h {
        font-size: 14px;
        line-height: 28px;
        border-bottom: 3px solid #00aaee;
        color: #00aaee; }
    .my-profile .my-profile-right .my-profile-right-bottom .center-perfect {
      display: none;
      float: left;
      width: 950px; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .claim, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .code {
        margin-top: 20px;
        border-collapse: collapse;
        width: 948px;
        color: #666;
        line-height: 15px;
        border: 1px solid #ccc; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .claim thead, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .code thead {
          width: 948px;
          background: #f3fcff;
          color: #666;
          line-height: 15px;
          border: 1px solid #ccc; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .claim thead tr td, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .code thead tr td {
            text-align: center;
            height: 38px; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .claim thead tr td i, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .code thead tr td i {
              margin-right: 10px;
              display: inline-block;
              width: 16px;
              height: 16px;
              color: transparent;
              border: 1px solid #e6e6e6;
              cursor: pointer;
              text-align: center;
              font-size: 14px; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .claim thead tr td i.h, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .code thead tr td i.h {
              color: #0ae; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .claim tbody, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .code tbody {
          width: 948px;
          color: #666;
          line-height: 15px; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .claim tbody tr, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .code tbody tr {
            height: 72px;
            border: 1px solid #ccc; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .claim tbody tr td, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .code tbody tr td {
              text-align: center;
              height: 38px; }
              .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .claim tbody tr td i, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .code tbody tr td i {
                display: inline-block;
                width: 16px;
                height: 16px;
                color: transparent;
                border: 1px solid #e6e6e6;
                cursor: pointer;
                text-align: center;
                font-size: 14px; }
              .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .claim tbody tr td i.h, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .code tbody tr td i.h {
                color: #0ae; }
              .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .claim tbody tr td span, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .code tbody tr td span {
                line-height: 23px; }
              .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .claim tbody tr td em, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .code tbody tr td em {
                color: #ff0000; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .code u {
        margin-left: 10px;
        text-decoration: none; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .code cite {
        padding: 0 5px;
        font-size: 12px;
        color: #ff9700; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .code cite span {
          font-size: 12px;
          color: #ff9700; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .code b {
        padding: 0 5px;
        font-size: 12px;
        color: #0ae;
        font-weight: inherit;
        cursor: pointer; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .message-paging {
        margin: 20px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #999; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .message-paging span {
          display: inline-block;
          padding: 5px 10px;
          cursor: pointer; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .message-paging .message-paging-top {
          border: 1px solid #F2F2F2; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .message-paging .message-paging-top:hover {
            border: 1px solid #00aaee; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .money-all {
        margin: 20px 0 0 15px;
        font-size: 12px;
        color: #666; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .money-all h4 {
          margin-top: 5px;
          font-size: 12px;
          color: #666;
          font-weight: inherit; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .money-all h4 i {
            font-size: 16px;
            color: #ff0000; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .money-all h4 em {
            font-size: 12px;
            color: #333; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .money-all h4 em span {
              font-size: 12px;
              color: #333; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .money-all h4 u {
            text-decoration: none;
            font-size: 16px; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .money-all h4 span {
            font-size: 12px;
            color: #666; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .send {
        margin-top: 30px; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .send input[type="button"] {
          margin-right: 20px;
          padding: 6px 35px;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          -o-border-radius: 4px;
          -ms-border-radius: 4px;
          font-size: 16px;
          color: #999;
          text-align: center;
          cursor: pointer;
          border: 1px solid #999; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .send input[type="button"]:last-of-type {
          padding: 6px 35px;
          background: #0ae;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          -o-border-radius: 4px;
          -ms-border-radius: 4px;
          font-size: 16px;
          color: #fff;
          text-align: center;
          cursor: pointer;
          border: 1px solid #0ae; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .verify {
        margin-top: 20px;
        font-size: 12px;
        color: #999;
        font-weight: inherit; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect p {
        margin-top: 10px;
        font-size: 14px;
        color: #333; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect p i {
          color: #ff0000; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect p span {
          font-size: 12px;
          color: #999; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect p span i {
            font-size: 16px; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect p em, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect p label {
          margin-right: 20px;
          font-size: 14px;
          color: #666; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect p em span, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect p label span {
            font-size: 14px;
            color: #666; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect p cite {
          display: inline-block;
          padding: 5px 13px;
          margin: 0 10px 0 60px;
          border: 1px solid #0ae;
          color: #0ae;
          text-align: center;
          font-size: 12px;
          text-decoration: none;
          font-style: normal;
          cursor: pointer; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect p big {
          font-size: 14px;
          color: #ff9700; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect p b {
          font-size: 12px;
          color: #999;
          font-weight: lighter; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect p input[type="radio"] {
          margin-right: 5px;
          vertical-align: middle; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .add {
        margin-top: 20px;
        width: 90px;
        height: 25px;
        text-align: center;
        border: 1px solid #0ae;
        color: #0ae;
        line-height: 25px;
        cursor: pointer; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .ask {
        display: none; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .list {
        display: none; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .plan {
        margin-top: 10px;
        border-collapse: collapse;
        width: 948px;
        height: 225px;
        border: 1px solid #ccc; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .plan tbody tr td {
          padding: 0 10px;
          border: 1px solid #ccc;
          font-size: 14px;
          color: #666; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .plan tbody tr td span {
            float: right;
            font-size: 14px;
            color: #999; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .plan tbody tr td cite {
            font-size: 14px;
            color: #ff9700; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .plan tbody tr td i {
            color: #333; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .plan tbody tr td u {
            color: #000;
            text-decoration: none; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .plan tbody tr td:nth-child(1), .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .plan tbody tr td:nth-child(3) {
          width: 113px; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .manage {
        display: none; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .manage .advices {
          font-size: 14px; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .manage .advices .advices-li {
            color: #0ae; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .manage .advices .advices-li:last-of-type {
            color: #ff9700; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .manage .mold {
          margin-top: 10px;
          border-collapse: collapse;
          min-width: 426px;
          min-height: 269px;
          border: 1px solid #ccc; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .manage .mold tbody tr td {
            padding: 0 10px;
            border: 1px solid #ccc;
            font-size: 14px;
            color: #666; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .manage .mold tbody tr td span {
              float: right;
              font-size: 14px;
              color: #999; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .manage .mold tbody tr td:first-of-type {
            width: 133px; }
      .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect {
        padding: 10px 0;
        overflow: hidden;
        width: 454px;
        height: auto;
        background: #ffffff; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .firm, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .private {
          display: none; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-conserve {
          text-align: right; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-conserve input[type="button"] {
            margin-left: 10px;
            padding: 5px 15px;
            background: #f2f2f2;
            color: #666;
            font-size: 12px; }
            .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-conserve input[type="button"]:hover {
              background: #0ae;
              color: #fff; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-manage, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-conserve {
          padding: 10px 0; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-manage span, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-conserve span {
            display: inline-block;
            width: 118px;
            color: #999;
            font-size: 1.3rem;
            text-align: right; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-manage i, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-conserve i {
            color: #ff0000;
            font-size: 1.3rem; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-manage em, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-conserve em {
            color: #333;
            font-size: 1.3rem; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-manage u, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-conserve u {
            text-decoration: none;
            color: #999;
            font-size: 1.3rem; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-manage input[type="radio"], .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-conserve input[type="radio"] {
            margin: 0 0 0 10px;
            vertical-align: middle; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-manage .turn, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-conserve .turn {
            margin: 10px 0 0 20px; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-manage input[type="text"], .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-conserve input[type="text"] {
            margin-left: 8px;
            padding: 0 10px;
            width: 300px;
            height: 30px;
            color: #999;
            font-size: 1.3rem;
            border: 1px solid #ccc; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-manage input-placeholder, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-conserve input-placeholder {
            color: #999; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-manage ::-webkit-input-placeholder, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-conserve ::-webkit-input-placeholder {
            color: #999; }
          .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-manage p, .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .hunt-aspect-conserve p {
            display: none;
            margin-top: 3px;
            color: #ff0000;
            margin-left: 135px;
            font-size: 1.2rem; }
        .my-profile .my-profile-right .my-profile-right-bottom .center-perfect .hunt-aspect .ask {
          position: fixed;
          bottom: 0;
          left: 0;
          z-index: 3;
          width: 100%;
          height: 45px;
          background: #00aaee;
          box-shadow: 0px 0px 30px #ccc;
          color: #fff;
          text-align: center;
          line-height: 45px;
          font-size: 1.4rem;
          border: none; }

.cover-avatar, .cover-avatar-two {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4;
  margin-left: -300px;
  margin-top: -190px;
  width: 600px;
  height: 380px;
  background: #fff;
  border: 1px solid #999; }
  .cover-avatar .cover-top, .cover-avatar-two .cover-top {
    width: 100%;
    height: 40px;
    background: #00aaee;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 40px; }
    .cover-avatar .cover-top span, .cover-avatar-two .cover-top span {
      float: right;
      margin-right: 10px;
      font-size: 20px;
      cursor: pointer; }
  .cover-avatar .cover-bottom, .cover-avatar-two .cover-bottom {
    position: relative;
    padding: 0 25px; }
    .cover-avatar .cover-bottom h4, .cover-avatar-two .cover-bottom h4 {
      margin: 20px 35px;
      font-size: 14px;
      color: #999;
      font-weight: inherit; }
    .cover-avatar .cover-bottom .cover-bottom-center, .cover-avatar-two .cover-bottom .cover-bottom-center {
      padding: 10px 55px;
      color: #333;
      font-size: 14px; }
      .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li {
        margin-top: 10px;
        position: relative; }
        .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li b, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li b {
          width: 60px;
          display: inline-block;
          text-align: right;
          font-size: 12px;
          color: #999; }
        .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li i, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li i {
          position: absolute;
          left: 65px;
          top: 8px;
          font-size: 13px;
          color: #ff0000; }
        .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li input, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li input {
          margin-left: 13px;
          padding: 0 10px;
          width: 340px;
          line-height: 28px;
          border: 1px solid #ccc;
          font-size: 12px;
          color: #999; }
        .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container {
          display: inline-block;
          width: 360px;
          height: 30px;
          margin-left: 13px; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .docs-methods, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .docs-methods {
            width: 360px;
            height: 30px; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .form-inline, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .form-inline {
            width: 360px;
            height: 30px; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-input, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-input {
            opacity: 0 !important;
            top: -9999px;
            left: -9999px;
            position: absolute;
            width: 360px;
            height: 30px; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-span, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-span {
            width: 360px;
            height: 30px;
            position: relative;
            display: block;
            outline: 0;
            -webkit-tap-highlight-color: transparent;
            border: 1px solid #ccc;
            background-color: #fff;
            color: #ccc;
            cursor: pointer; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-span > .placeholder, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-span > .placeholder {
            color: #aaa; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-span > .arrow, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-span > .arrow {
            position: absolute;
            top: 50%;
            right: 8px;
            width: 10px;
            margin-top: -3px;
            height: 5px;
            background: url(../images/drop-arrow.png) -10px -25px no-repeat; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-span.focus,
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-span.open, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-span.focus,
          .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-span.open {
            border: 1px solid #ccc; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-span.open > .arrow, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-span.open > .arrow {
            background-position: -10px -10px; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-span > .title > span, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-span > .title > span {
            color: #999;
            padding: 5px;
            border-radius: 3px; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-span > .title > span:hover, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-span > .title > span:hover {
            background-color: #f1f8ff; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-dropdown, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-picker-dropdown {
            overflow: hidden;
            position: absolute;
            width: 315px;
            left: -9999px;
            top: -9999px;
            outline: 0;
            -webkit-tap-highlight-color: transparent;
            z-index: 999999;
            display: none;
            min-width: 330px;
            margin-bottom: 20px; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select-wrap, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select-wrap {
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select-tab, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select-tab {
            border-bottom: 1px solid #ccc;
            background: #f0f0f0;
            font-size: 13px;
            width: 220px; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select-tab > a, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select-tab > a {
            display: inline-block;
            padding: 8px 22px;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid transparent;
            color: #4D4D4D;
            text-align: center;
            outline: 0;
            text-decoration: none;
            cursor: pointer;
            font-size: 14px;
            margin-bottom: -1px; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select-tab > a.active, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select-tab > a.active {
            background: #fff;
            border-bottom: 1px solid #fff;
            color: #46A4FF; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select-tab > a:first-child, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select-tab > a:first-child {
            border-left: none; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select-tab > a:last-child.active, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select-tab > a:last-child.active {
            border-right: 1px solid #ccc; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select-content, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select-content {
            width: 190px;
            min-height: 10px;
            background-color: #fff;
            padding: 10px 15px; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select {
            font-size: 13px; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select dl, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select dl {
            line-height: 2;
            clear: both;
            padding: 3px 0;
            margin: 0; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select dt, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select dt {
            position: absolute;
            width: 2.5em;
            font-weight: 500;
            text-align: right;
            line-height: 2; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select dd, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select dd {
            margin-left: 0;
            line-height: 2; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select.province dd, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select.province dd {
            margin-left: 3em; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select a, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select a {
            display: inline-block;
            padding: 0 10px;
            outline: 0;
            text-decoration: none;
            white-space: nowrap;
            margin-right: 2px;
            text-decoration: none;
            color: #333;
            cursor: pointer; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select a:hover,
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select a:focus, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select a:hover,
          .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select a:focus {
            background-color: #f1f8ff;
            border-radius: 2px;
            color: #46A4FF; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select a.active, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .container .city-select a.active {
            background-color: #46A4FF;
            color: #fff;
            border-radius: 2px; }
        .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li p, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li p {
          display: none;
          position: absolute;
          right: 10px;
          top: 0;
          text-align: right;
          font-size: 12px;
          line-height: 28px;
          color: #ff0000; }
        .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .cover-bottom-btn, .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .work, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .cover-bottom-btn, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .work {
          position: absolute;
          right: 10px;
          top: 30px;
          font-size: 14px;
          color: #666;
          text-align: right; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .cover-bottom-btn u, .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .work u, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .cover-bottom-btn u, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .work u {
            float: left;
            width: 16px;
            height: 16px;
            color: transparent;
            border: 1px solid #ccc;
            cursor: pointer;
            text-align: center;
            font-size: 14px;
            margin: 2px 10px 0 0; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .cover-bottom-btn u.h, .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .work u.h, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .cover-bottom-btn u.h, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .work u.h {
            color: #0ae; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .cover-bottom-btn cite, .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .work cite, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .cover-bottom-btn cite, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .work cite {
            float: left;
            color: #999;
            font-style: normal; }
          .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .cover-bottom-btn em, .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .work em, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .cover-bottom-btn em, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .work em {
            margin: 0 5px;
            display: inline-block;
            padding: 3px 8px;
            text-align: center;
            line-height: 20px;
            font-style: normal;
            cursor: pointer;
            border: 1px solid #CCCCCC;
            background: #CCCCCC;
            cursor: pointer;
            color: #fff;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            -o-border-radius: 3px;
            -ms-border-radius: 3px; }
            .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .cover-bottom-btn em:hover, .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .work em:hover, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .cover-bottom-btn em:hover, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .work em:hover {
              background: #00aaee;
              border: 1px solid #00aaee; }
        .cover-avatar .cover-bottom .cover-bottom-center .cover-bottom-center-li .work, .cover-avatar-two .cover-bottom .cover-bottom-center .cover-bottom-center-li .work {
          top: 0; }

.cover-avatar-two {
  margin-left: -300px;
  margin-top: -100px;
  width: 600px;
  height: 200px; }
  .cover-avatar-two .cover-bottom-btn {
    position: absolute;
    right: 60px;
    top: 100px;
    font-size: 14px;
    color: #666;
    text-align: right; }
    .cover-avatar-two .cover-bottom-btn em {
      margin: 0 5px;
      display: inline-block;
      padding: 3px 8px;
      text-align: center;
      line-height: 20px;
      font-style: normal;
      cursor: pointer;
      border: 1px solid #CCCCCC;
      background: #CCCCCC;
      cursor: pointer;
      color: #fff;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -o-border-radius: 3px;
      -ms-border-radius: 3px; }
      .cover-avatar-two .cover-bottom-btn em:hover {
        background: #00aaee;
        border: 1px solid #00aaee; }
